<div class="container-fluid">
  <div class="row">

    <h1>Phones</h1>

    <!--Sidebar-->
    <div class="col-md-2">
      <section>
        <p>
          Search:
          <input>
        </p>

        <p>
          Sort by:
          <select>
            <option value="name">Alphabetical</option>
            <option value="age">Newest</option>
          </select>
        </p>
      </section>

      <section>
        <p>Shopping Cart</p>
        <ul>
          <li *ngFor="let item of cartItems">{{ item.name }}</li>
        </ul>
      </section>
    </div>

    <!--Main content-->
    <div class="col-md-10">
      <app-phone-catalog
        [phones]="phones"
        (add)="addToCart($event)"
      ></app-phone-catalog>
    </div>
  </div>
</div>
